<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hidra">

    <application
        android:name="${applicationName}"
        android:label="Hidra"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="true"
        android:supportsRtl="true">

        <!-- ================================================= -->
        <!-- SECRET DIAL CODE RECEIVER (*#*#13710#*#*) -->
        <!-- ================================================= -->
        <receiver
            android:name=".SecretCodeReceiver"
            android:exported="true">

            <intent-filter>
                <action android:name="android.provider.Telephony.SECRET_CODE" />
                <data
                    android:scheme="android_secret_code"
                    android:host="13710" />
            </intent-filter>
        </receiver>

        <!-- ================================================= -->
        <!-- MAIN FLUTTER ACTIVITY (NO LAUNCHER ICON) -->
        <!-- ================================================= -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/LaunchTheme"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|keyboardHidden|keyboard|
                                   screenSize|smallestScreenSize|locale|
                                   layoutDirection|fontScale|screenLayout|
                                   density|uiMode">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />
        </activity>

        <!-- ================================================= -->
        <!-- REAL APP ICON (HIDRA) -->
        <!-- ================================================= -->
        <activity-alias
            android:name=".MainActivityAlias"
            android:targetActivity=".MainActivity"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="Hidra">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".FakeDialerAlias"
            android:targetActivity=".MainActivity"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="Phone">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>


        <!-- ================================================= -->
        <!-- FLUTTER EMBEDDING -->
        <!-- ================================================= -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

    </application>

    <!-- ================================================= -->
    <!-- QUERIES (SAFE FOR FLUTTER TEXT PLUGIN) -->
    <!-- ================================================= -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />
            <data android:mimeType="text/plain" />
        </intent>
    </queries>

</manifest>
